<div class="sidebar sticky-top">
    <div class="sidebar-section">
        <h5><span>Szybka pomoc</span></h5>
        <span>Whatsapp: <a href="/whatsapp" class="text-decoration-none text-primary">"Wspólnota Jaworowa"</a></span><br/>
        <span>Email:  <a href="mailto: kontakt@jaworowa.org" class="text-decoration-none text-primary">kontakt@jaworowa.org</a></span></br>
    </div>
    <div class="sidebar-section">
        <h5><span>Aktualności</span></h5>
        <ul>
            <li><a href="" class="text-decoration-none text-primary">> Założenie wspólnot (2024/05/14)</a></li>
            <li><a href="" class="text-decoration-none text-primary">> Harmonogram wywozu śmieci (2024/05/13)</a></li>
            <li><a href="" class="text-decoration-none text-primary">> Plan finansowy na najbliższe lata (2024/05/13)</a></li>
        </ul>
    </div>
</div>