<div class="sidebar sticky-top">
    <div class="sidebar-section">
        <h5><span>Szybka pomoc</span></h5>
        <span>Whatsapp: "<a href="/whatsapp" class="text-decoration-none text-muted" style="text-decoration: underline">Wspólnota Jaworowa</a>"</span><br/>
        <span>Email:  <a href="mailto: kontakt@jaworowa.org" class="text-decoration-none text-muted" style="text-decoration: underline">kontakt@jaworowa.org</a></span></br>
    </div>
    <div class="sidebar-section">
        <h5><span>Aktualności</span></h5>
        <ul>
            <li><a href="" class="text-decoration-underline text-muted" style="text-decoration: underline">> Założenie wspólnot (2024/05/14)</a></li>
            <li><a href="" class="text-decoration-none text-muted" style="text-decoration: underline">> Harmonogram wywozu śmieci (2024/05/13)</a></li>
            <li><a href="" class="text-decoration-none text-muted" style="text-decoration: underline">> Plan finansowy na najbliższe lata (2024/05/13)</a></li>
        </ul>
    </div>
</div>