<div class="sidebar sticky-top">
    <div class="sidebar-section">
        <h5><span>Szybka pomoc</span></h5>
        Kontakt do wspólnoty:<br/>
        <span class="pl-3">Whatsapp: "<a href="/whatsapp" class="text-decoration-none text-muted" style="text-decoration: underline">Wspólnota Jaworowa</a>"</span><br/>
        <span class="pl-3">Email:  <a href="mailto: zarzad@jaworowa.org" class="text-decoration-none text-muted" style="text-decoration: underline">zarzad@jaworowa.org</a></span></br>
        <br/>Ochrona: 786-183-447
        <br/>Pogotowie/Policja/Straż: 112
    </div>
    <div class="sidebar-section">
        <h5><span>Aktualności</span></h5>
        <ul>
            {% for post in site.posts limit:5 %}
            {% if post.featured == false %}
                <li><a href="{{ post.url | absolute_url }}" class="text-decoration-underline text-muted" style="text-decoration: underline">> {{ post.title }} ({{ post.date | date: "%Y/%m/%d" }})</a></li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>