---
layout: default
disqus: false
archive: false
post_class: post-template
---

<!-- Begin Article
================================================== -->


	<div class="row">

        <!-- Sidebar -->
<!--        <div class="col-sm-4">-->
<!--            {% include sidebar.html %}-->
<!--        </div>-->
		<!-- Post -->        
        {% assign author = site.authors[page.author] %}
        
		<div class="col-sm-12">
            <!-- Post Featured Image -->
			{% if page.image %}<img class="featured-image img-fluid rounded" src="{{ site.baseurl }}/{{ page.image }}" alt="{{ page.title }}">{% endif %}
			<!-- End Featured Image -->
			<div class="mainheading pb-4">
                
                <!-- Post Categories -->
                <div class="after-post-tags">
                    <ul class="tags">
                        {% assign sortedCategories = page.categories | sort %}
                        {% for category in sortedCategories %}
                        <li>
                         <a href="{{ site.baseurl }}/categories#{{ category | slugify }}">{{ category }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <!-- End Categories -->
                
                <!-- Post Title -->
				<h1 class="posttitle mb-2">{{ page.title }}</h1>

                <!-- Post Date -->
                <p>
                    <small>Opublikowano:
                        <span class="post-date"><time class="post-date" datetime="{{ page.date }}">
                            {% assign m = page.date | date: "%-m" %}
                            {{ page.date | date: "%-d" }}
                            {% case m %}
                              {% when '1' %}Stycznia
                              {% when '2' %}Lutego
                              {% when '3' %}Marca
                              {% when '4' %}Kwietnia
                              {% when '5' %}Maja
                              {% when '6' %}Czerwca
                              {% when '7' %}Lipca
                              {% when '8' %}Sierpnia
                              {% when '9' %}Września
                              {% when '10' %}Października
                              {% when '11' %}Listopada
                              {% when '12' %}Grudnia
                            {% endcase %}
                            {{ page.date | date: "%Y" }}
                        </time></span>
                    </small>
                </p>
			</div>


			<!-- Post Content -->
			<div class="article-post serif-font">
				{{content}}
                <div class="clearfix"></div>
			</div>


            
			
            
<!--            &lt;!&ndash; Prev/Next &ndash;&gt;-->
<!--            <div class="row PageNavigation mt-4 prevnextlinks d-flex justify-content-between">-->
<!--              {% if page.previous.url %}-->
<!--                <div class="col-md-6 rightborder pl-0">-->
<!--                    <a class="thepostlink" href="{{page.previous.url | absolute_url}}">&laquo; {{page.previous.title}}</a>-->
<!--                </div>-->
<!--              {% endif %}-->
<!--              {% if page.next.url %}-->
<!--                <div class="col-md-6 text-right pr-0">-->
<!--                    <a class="thepostlink" href="{{page.next.url | absolute_url}}">{{page.next.title}} &raquo;</a>-->
<!--                </div>-->
<!--              {% endif %}-->
<!--            </div>-->
<!--            &lt;!&ndash; End Prev/Next &ndash;&gt;-->
            
            
             <!-- Author Box -->
<!--                {% if page.author %}				-->
<!--				<div class="row post-top-meta">-->
<!--					<div class="col-md-2">-->
<!--						<img class="author-thumb" src="{{site.baseurl}}/{{author.avatar}}" alt="{{ author.display_name }}">-->
<!--					</div>-->
<!--					<div class="col-md-10">-->
<!--						<a target="_blank" class="link-dark" href="{{ author.web }}">{{ author.display_name }}</a><a target="_blank" href="{{ author.twitter }}" class="btn follow">Follow</a>-->
<!--						<span class="author-description">{{ author.description }}</span>						-->
<!--					</div>-->
<!--				</div>				-->
<!--                {% endif %}-->

		</div>
		<!-- End Post -->
	</div>

<!-- End Article
================================================== -->